{% load staticfiles %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/base.css' %}">
      <title>{% block title %}{% endblock %}</title>
      {% block top %}{% endblock %}
  </head>

  <div class="form-login">
    <div class="form-log-in-with-email">
      <div class="form-title-row">
            <h1>{% block heading %}{% endblock %}</h1>
            {% for error in form.errors.values %}
            {{error}}
            {% endfor %}
      </div>
      <form method="post">
        {% for field in form %}
        {% csrf_token %}
        <div class="form-row">
          <label>{{field.label_tag}}</label>
            <p>
              {{field.help_text}}
            </p>
        </div>
        {{field}}


        {% endfor %}
        <button type="submit" value="Submit">Submit</button>
      </form>
          {% block bottom %}
          {% endblock %}
    </div>
    </div>
</html>