<html>
{% include 'tasks/head_navbar.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/forms.css' %}">
<body>
<div class="form-login">
  <div class="form-log-in-with-email">
  <div class="form-title-row">
        <h1>{% block title %}{% endblock %}</h1>
  </div>
  <form method="post">
{% for field in form %}
{% csrf_token %}
    <div class="form-row">
    <label>{{field.label_tag}}</label>
    <p>
       {{field.help_text}}
    </p>
        </div>
    {{field}}


{% endfor %}
    <button type="submit" value="Submit">Submit</button>
  </form>
</div>
</div>
</body>
</html>