{% extends '_base.html' %}
{% load static %}


{% block main_content_area %}
<div class="sub-header">
	<div class="header">
		<div class="container">
		<h2>{% block header %}{% endblock%}</h2>
		</div>
	</div>
</div>
{% endblock %}

{% block body_content %}
<div class="clr"> </div>
<div id="mainbar" >
	<h1>{% block taskname %}{% endblock %}</h1>
	<p>{% block description %}{% endblock %}</p>
</div>
<div class="categories">
	<ul >
		<li class="list-item">{% block f1 %}{% endblock %}</li>
		<li class="list-item">{% block f2 %}{% endblock %}</li>
	</ul>
</div>
<nav id ="navbar2">
	<div class="container">
		<ul class="list">
			<li class="list-item"><a href = "{% url 'tasks:update_task' task.id %}">Edit Task</a></li></li>
			<li><a href = "{% url 'tasks:delete_task' task.id %}">Delete Task</a></li></li>
		</ul>
	</div>
</nav>
{% endblock %}