{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/base.css' %}">
<html>
<head>
	<title>To Do List</title>
<div class="main-header">
<div class="header">
<h1>Welcome To The To-do-List</h1>
</div>
</div>
</head>
<nav id ="navbar">
	<div class="container">
		<ul class="list">
			<li class="list-item"><a href="{% url 'tasks:homepage'%}">Home</a></li>
			<li><a href="{% url 'tasks:add_task' %}">Add a task</a></li>
			<li><a href="{% url 'tasks:logout' %}">Logout</a></li>
		</ul>
	</div>
</nav>
</html>