{% load staticfiles %}
<html>
{% include 'tasks/head_navbar.html' %}
<section id = "showcase">
	<div class="container">
<a href = "{% url 'tasks:add_task' %}">Add a task here</a>
</div>
</section>
<div class="sub-header">
<div class="header">
	<div class="container">
<h2>List of Tasks</h2>
</div>
</div>
</div>
<div class="clr"> </div>
<div class="categories">
<ul >
{% for task in all_tasks %}
<li class="list-item"><a href = " {% url 'tasks:detail' task.id %}">{{task}}</a></li>
{% endfor %}
</ul>
</div>
<img src="{% static 'tasks/images/showcase.jpg'%}">
</html>