{% extends 'tasks/forms.html'%}

{% load  %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}

{% block head_title %}Login{% endblock %}

{% block content %
{% block title %}
	Login
{% endblock %}

{% block heading %}
	Login
{% endblock %}

{% block bottom %}

<ul>
 <div class="form-create-an-account">
 	<li><a href="http://todolist40.herokuapp.com/accounts/facebook/login/?process=login">Login With Facebook !</li>
    <li><a href="{% url 'tasks:register' %}">Don't have an account Register Here</a></li>
  </div>
</ul>
{% endblock %}